# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts

# Native generated folders
/ios/
/android/

# Kotlin / native temp
.kotlin/
*.orig.*

# Signing / secrets
*.jks
*.p8
*.p12
*.key
*.pem
*.mobileprovision

# SSH keys
Crypt0Ron1n
Crypt0Ron1n.pub
id_rsa
id_rsa.pub
id_ed25519
id_ed25519.pub

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store

# local env files
.env
.env.*
.env*.local

# TypeScript
*.tsbuildinfo

# Local audit files
ron1n-file-audit.txt
ron1n-file-audit-detailed.txt
ron1n-src-audit.txt
project_files.txt